<div id='rolesPanel'>
    <div id='rolesToolsPanel'>
        {{> rolesedittools}}
    </div>
    {{#each roles}}
        <div class='roleRow'>
            <span class='roleName'>{{this.rolename}} ({{this.count}})</span>
            {{!-- <span hidden="hidden">{{this._id}}</span> --}}
            <span class="roleArrow">></span>
            <div class='editRolePanel' id={{this._id}}>
                {{#each this.permissions as |value|}}
                    {{#notInitValue @key '$init' value}}
                    {{/notInitValue}}
                {{/each}}
                {{#if ../candeleterole}}
                    <div class='deleteRoleButtonContainer'>
                        <button class="button deleteButton" id={{this._id}} onclick="deleteRole(event,this)">Delete</button>
                    </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
