<div id='userPanel'>
    <div id='usertoolspanel'>
        {{> useredittools}}
    </div>
    <div id='tableHeader'>
        <span>Username</span>
        <span>Name</span>
        <span>Email</span>
        <span>Role</span>
    </div>
    {{# each users}}
    <div class="userRow">
        <span>{{this.username}}
            {{#if ../canedit}}
            <div class="userInfo">
                <a href="/users/{{this.id}}" class="userEditLink" onclick='handleEdit(event,this);'>Edit</a>|<a href="#">Permissions</a>
            </div>
            {{/if}}
            </span>
        <span>{{this.name}}</span>
        <span>{{this.email}}</span>
        <span>{{this.role}}</span> 
    </div>
    {{/each}}
</div>