<form id='usereditPanel'>
    <span hidden="hidden" id="userid">{{userid}}</span>
    <label for='username'>Username</label>
    <input id='username' type="text" value="{{username}}" required="required">
    <label for="name">Name</label>
    <input id='name' type="text" value="{{name}}" required="required">
    <label for='email'>Email</label>
    <input type="email" id='email' required="required" value="{{email}}">
    <label for='password'>Password</label>
    <input type="password" id='password' placeholder="unchanged">
    <label for='confirmPassword'>Confirm password</label>
    <input type="password" id='confirmPassword' placeholder="unchanged">
    <div id='enabledPanel'>
        <label for='enabled' id='enabledLabel'>Enabled</label>
    {{#if enabled}}
        <input type="checkbox" id='enableUserCheck' checked="checked">
    {{else}}
        <input type="checkbox" id='enableUserCheck'>
    {{/if}}
    </div>
    <label for='role'>Role (Currently: {{role}})</label>
    <select id='role'>
       {{# each roles}}
            <option value="{{this.rolename}}">{{this.rolename}}</option>
       {{/each}}
    </select>
    <div id='usereditPanelButtons'>
        <div class="btnRow">
            <button id='cancel' class="button" onclick="cancelEdit(event,this)">Cancel</button>
            <button id='submit' class="button" onclick="submitUserEdit(event,this)">Save</button>
        </div>
        {{#if deleteuser}}
            <div class="btnRow">
                <button id='delete' class="button" onclick="deleteUser(event,this)">Delete</button>
            </div>
        {{/if}}
    </div>
</form>